@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --purple-color: #C778DD;
  --gray-color: #ABB2BF;
  --background-color: #282C33;
  --white-color: #FFFFFF;
}

body {
  background-color: var(--background-color);
}

.portifolioContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  font-family: "Fira Code", monospace;
}

.header {
  display: flex;
  width: 100%;
  height: 61px;
  align-items: flex-end;
  justify-content: space-between;
  text-decoration: none;
  padding-bottom: 8px;
}

.headerTitle {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.headerTitle h1 {
  font-family: "Fira Code", monospace;
  color: var(--white-color);
  width: 138px;
  font-weight: 700;
  font-size: 16px;
}

.headerTitle img {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: flex-end;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
  height: min-content;
  font-size: 16px;
  text-decoration: none;
}

.nav a {
  text-decoration: none;
  display: flex;
}

.nav p {
  color: var(--gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav span {
  color: var(--purple-color);
}

.nav select {
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 5px;
  width: 40px;
  height: 21px;
  color: var(--gray-color);
}

.asideMedia {
  position: absolute;
  top: 0px;
  left: 17px;
  width: 32px;
  height: 311px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 1px;
  height: 191px;
  background-color: var(--gray-color);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 62px;
}

.heroDescription {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.heroDescription h1 {
  width: 637px;
  font-weight: 600;
  font-size: 32px;
  color: var(--white-color);
}

.heroDescription span {
  color: var(--purple-color);
}

.heroDescription p {
  text-align: start;
  width: 463px;
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-color);
}

.heroDescription button {
  background-color: transparent;
  border: solid 1px var(--purple-color);
  color: var(--white-color);
  width: 148px;
  height: 37px;
}

.heroDescription button:hover {
  transition: 2s;
  background-color: var(--purple-color);
}

.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rectangle {
  width: 16px;
  height: 16px;
  background-color: var(--purple-color);
}

.heroCurrently {
  display: flex;
  gap: 3.5px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white-color);
  width: 402px;
  height: 37px;
}

.heroCurrently p {
  color: var(--gray-color);
}

.heroCurrently span {
  color: var(--white-color);
}

.quote {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-top: 125px;
}

.quote p {
  color: var(--white-color);
  font-weight: 400;
  font-size: 24px;
}

.quote h1 {
  font-weight: 400;
  font-size: 24px;
  color: var(--white-color);
}

.quote img {
  position: absolute;
  right: 0px;
}

.phrase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 712px;
  height: 95px;
  border: var(--gray-color) solid 1px;
}

.phrase img {
  background-color: var(--background-color);
  display: flex;
  position: absolute;
  left: 670px;
  width: 25.47px;
  height: 20.7px;
  top: 660px;
}

.drWho {
  display: flex;
  justify-content: center;
  width: 162px;
  height: 63px;
  align-items: center;
  border: var(--gray-color) solid 1px;
}

.drWho img {
  background-color: var(--background-color);
  display: flex;
  position: absolute;
  width: 25.47px;
  height: 20.7px;
  top: 755px;
  right: 634px;
}

.align {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.projects {
  display: flex;
  gap: 210px;
  align-items: center;
  justify-content: center;
  margin-top: 74px;
}

.projectsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.projectsTitle h1 {
  color: var(--white-color);
  font-weight: 500;
  font-size: 32px;
}

.projectsTitle span {
  color: var(--purple-color);
}

.projects button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.projects a {
  text-decoration: none;
  color: var(--white-color);
}

.linePurple {
  width: 511px;
  height: 1px;
  background-color: var(--purple-color);
}